{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul class="list-group">
    {% for listing in listings %}
        <div class="card" style="width:250px">
            {% if listing.image %}
                <img class="card-img-left" src="{{ listing.image }}" alt="image of listing">
            {% else %}
                <img class="card-img-left" src="https://demofree.sirv.com/nope-not-here.jpg" alt="no image">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">{{ listing.title }}</h4>
                <p class="card-text">{{ listing.description }}</p>
                <p class="card-text">Current price: ${{ listing.start_bid }}</p>
                <a href="/listing/{{ listing.id }}" class="btn btn-primary">See listing</a>
            </div>
        </div>
    {% empty %}
        <h5>No listings</h5>
    {% endfor %}
{% endblock %}