{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    {% if user.id %}
        <form action="{% url 'toggle_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Watchlist">
        </form>
    {% endif %}

    {% if not listing.is_open_for_bids and highest_bid.by.id is user.id %}
        <h4 style="color: green">You have won this auction!</h4>
    {% endif %}

    {% if listing.image %}
        <div>
            <img src="{{ listing.image }}" alt="image of the listed item">
        </div>
    {% else %}
        <div>
            No image uploaded
        </div>
    {% endif %}

    <div>
        {{ listing.description }}
    </div>

    <div>
        {% if highest_bid %}
        <h5>${{ highest_bid.value }}</h5>
        {{ num_bids }} bids so far.
            {% if not listing.is_open_for_bids %}
                <h6 style="color: orange">Closed for bidding</h6>
            {% endif %}
        {% else %}
        <h5>Minimal bid: ${{ listing.start_bid }}</h5>
        No bids made yet        
        {% endif %}
        <p style="color: red">
            {{ errormessage }}
        </p>
    </div>
    
    {% if user.id and user.id is not listing.listed_by.id and listing.is_open_for_bids %}
    <div>
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {{ form.value }} 
            <p>
                <input type="submit">
            </p>
        </form>
    </div>
    {% endif %}

    {% if user.id is listing.listed_by.id and listing.is_open_for_bids %}
    <div>
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <p>
                <input type="submit" value="Close bidding">
            </p>
        </form>
    </div>
    {% endif %}

    <div>
        <h5>Details</h5>
        <ul>
            <li>Listed by: {{ listed_by.username }}</li>
            {% if listing.category %}
                <li>Category: {{ listing.category }}</li>
            {% else %}
                <li>Category: No category selected</li>
            {% endif %}
        </ul>
    </div>

    <div>
        <h5>Comments</h5>
        {% if user.id %}
        <h6>Add a comment</h6>
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            {{ form_comment.text }} 
            <p>
                <input type="submit">
            </p>
        </form>
        {% endif %}
        <ul class="list-group">
            {% for comment in comments%}
            <li class="list-group-item">
                <b>{{ comment.by.username }}</b> said:
                <p>{{ comment.comment }}</p>
            </li>
            {% empty %}
            <li class="list-group-item">
                No comments
            </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}